<!--
<mat-toolbar color = 'primary' style = "text-align: center">  
    <button mat-stroked-button routerLink="/jobhealth">Job Health</button>&nbsp;
    <button mat-stroked-button routerLink="/exceptions">Exceptions</button>&nbsp;
    <button mat-stroked-button routerLink="/recordsearch">Record Search</button>
</mat-toolbar>

<router-outlet></router-outlet>
-->

<mat-tab-group backgroundColor = 'primary'>
        <mat-tab label="Job Health"><app-jobhealth></app-jobhealth></mat-tab>
        <mat-tab label="Exceptions"><app-exceptionsviewer></app-exceptionsviewer></mat-tab>
        <mat-tab label="Record Search"><app-recordsearch></app-recordsearch></mat-tab>
</mat-tab-group>